<% the_id = params.fetch("path_id") %>
<% matching_boards = Board.where({ :id => the_id }) %>
<% @the_board = matching_boards.at(0) %>

<% all_listings = Listing.where({ :board_id => the_id }) %>
<% active_listings = all_listings.where({ :expires_on => (Date.today...) }) %>
<% expired_listings = all_listings.where({ :expires_on => (...Date.today) }) %>

<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li><%= @the_board.name %></li>
  </ul>
</nav>

<article>
  <header>
    <h2>Active Listings</h2>
  </header>

  <div style="overflow-x: Scroll">
    <table>
      <thead>
        <th>Title</th>
        <th>Body</th>
        <th>Expires On</th>
        <th>Posted On</th>
      </thead>

      <% active_listings.each do |a_listing| %>
        <tr>
          <td><%= a_listing.title %></td>
          <td><%= a_listing.body %></td>
          <td><%= a_listing.expires_on.strftime("%b %e, %Y") %></td>
          <td><%= a_listing.created_at.strftime("%b %e, %Y") %></td>
        </tr>
      <% end %>
    </table>
  </div>
</article>

<article>
  <header>Add a new Listing
    <header>
      <form action="/insert_listing" method="post">
        <label for="title_field">Title</label  >
        <input id="title_field" type="text" name="title_param">

        <label for="body_field">Body</label>
        <textarea id="body_field" name="body_param"></textarea>
        
        <label for="expires_on_field">Expires On</label>
        <input id="expires_on_field" type="date" name="expires_on_param">

        <input type="hidden" name="board_id_param" value="<%= the_id %>">

        <button>Create Listing</button>
      </form>

      <article>
        <header>
          <h2>Expired Listings</h2>
        </header>

        <div style="overflow-x: Scroll">
          <table>
            <thead>
              <th>Title</th>
              <th>Body</th>
              <th>Expired On</th>
              <th>Posted On</th>
            </thead>

            <% expired_listings.each do |a_listing| %>
              <tr>
                <td><%= a_listing.title %></td>
                <td><%= a_listing.body %></td>
                <td><%= a_listing.expires_on.strftime("%b %e, %Y") %></td>
                <td><%= a_listing.created_at.strftime("%b %e, %Y") %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </article>
